.legend {
    background-color: #fff;
    position: relative;
    left: 0;
    top: 0vh;
    margin-bottom: 1vh;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 100%;
    height: 17vh;
    z-index: 1;
}

.legendBox {
    background-color: #c8c8c8;
    position: absolute;
    border-radius: 3px;
    display: inline-block;

    bottom: 3vh;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    right: 1vw;
    overflow-y: auto;
    width: 24vw;
    height: 20vh;
    max-height: 37vh;
    z-index: 1;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div span {
    border-radius: 0%;
    display: inline-block;
    height: 1.5vh;
    margin-right: 0.25vw;
    width: 30px;
}