.legendBox {
    background-color: #c8c8c8;
    position: absolute;
    border-radius: 3px;
    display: inline-block;

    bottom: 3vh;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    right: 1vw;
    overflow-y: auto;
    width: 24vw;
    height: 20vh;
    max-height: 37vh;
    z-index: 1;
}


.siteSelection {
    background-color: #fff;
    position: relative;
    left: 0;
    top: 0vh;
    margin-bottom: 1vh;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 100%;
    height: 17vh;
    z-index: 1;
}



.siteSelection h4 {
    margin: 0 0 10px;
}

.siteSelection div span {
    display: inline-block;
    height: 1.5vh;
    margin-right: 0.25vw;
    width: 1.5vh;

    -moz-border-radius: 50%; /* or 50% */
    border-radius: 50%; /* or 50% */

}



.vernalPools {
    background-color: #fff;
    position: relative;
    left: 0;
    top: 0vh;
    margin-bottom: 1vh;
    border-radius: 3px;
    bottom: 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 16px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 100%;
    height: 17vh;
    z-index: 1;
}



.vernalPools h4 {
    margin: 0 0 10px;
}

.vernalPools div span {
    display: inline-block;
    height: 1.5vh;
    margin-right: 0.25vw;
    width: 1.5vh;
    opacity: 0.5;

}